API_URL=      # a certain green website's API
WEB_URL=      # a certain green website's web location
API_KEY=      # a API key to access a certain green website
USER_ID=      # a user ID for an account on a certain green website